{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
 %}
 {% if user.accountType=='Lender'%}

 <div class="d-flex justify-content-around align-items-center vh-100">
    <a href="{{url_for('views.loanPrediction')}}" class="btn btn-info" role="button">Predict Loan Repayment</a>
    <a href="{{url_for('auth.createBorrower')}}" class="btn btn-info" role="button">Create Borrower</a>
    <a href="{{url_for('views.borrowersList')}}" class="btn btn-info" role="button">View Borrowers</a>
  
</div>
{% else %}
  <a href="{{url_for('views.lendersList')}}" class="btn btn-info" role="button">View Borrowers</a>
  
{% endif %}
<!--<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form> -->
{% endblock %}
