{% extends "base.html" %} {% block title %}Lenders List{% endblock %} {% block
content %} {% set sum=0 %}
<div class="container text-center" style="height: 100vh">
  <h1>Lenders List</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Lender ID</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Principal</th>
        <th>Due this month</th>
      </tr>
    </thead>
    <tbody>
      {% set sum = namespace(value=0) %} 
      {% for current_user in users %}
      <tr>
        <td>
          <a
            href="{{url_for('views.transactionsList', borrower=current_user.borrower_id, lender= current_user.lender_id)}}"
            role="button"
            >{{current_user.lender_id}}</a
          >
        </td>
        {% for lender in lenders %} 
          {% if lender.id == current_user.lender_id%}
            <td>{{lender.name}}</td>
            <td>{{lender.phoneNo}}</td>
          {% endif %}
        {% endfor %}
        <td>{{current_user.principal}}</td>
        <td>{{current_user.amount}}</td>
        {% set sum.value=sum.value+current_user.amount %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>The total amount to be repayed is Rs. {{sum.value}}</h2>
</div>
{% endblock %}
